@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;

@model TeacherHelper.ViewModels.GetRoleViewModel

<form method="post" asp-action="RequestToGetRole" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Password" class="control-label">Password</label>
    <input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <label asp-for="RoleName" class="control-label">@localizer["Roles"]</label>
    <select asp-for="RoleName">
        @if (!User.IsInRole("Teacher"))
        {
            <option value="Teacher">@localizer["Teacher"]</option>
        }
        @if (!User.IsInRole("Student"))
        {
            <option value="Student">@localizer["Student"]</option>
        }
    </select>
    <span asp-validation-for="RoleName" class="text-danger"></span>
    <input type="submit" class="btn btn-dark" value="@localizer["Add"]" />
</form>