<form method="post">
    <div class="mb-3">
        <label for="groupName" class="form-label">Group's name</label>
        <input type="text" class="form-control" id="groupName" name="groupName" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>