<form method="post">
    <div class="mb-3">
        <label for="subjectName" class="form-label">Subject's name</label>
        <input type="text" class="form-control" id="subjectName" name="subjectName" />
    </div>
    <div class="mb-3">
        <label for="subjectHours" class="form-label">Subject's hours</label>
        <input type="number" min="30" max="300" class="form-control" id="subjectHours" name="subjectHours">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>