<form method="post">
    <div class="mb-3">
        <label for="teacherName" class="form-label">Teacher's name</label>
        <input type="text" class="form-control" id="teacherName" name="teacherName" />
    </div>
    <div class="mb-3">
        <label for="teacherSurname" class="form-label">Teacher's surname</label>
        <input type="text" class="form-control" id="teacherSurname" name="teacherSurname">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>