<div style="background-image:url(~/wwwroot/img/database-error.png)">
    <h3>
        There are some problems of getting data from database: couldn't get groups.
    </h3>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Get home</a>
</div>